.posts .block {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.posts .block article {margin-right: 5px;}



@media screen and (min-width: 1140px) {
    .posts .block {
      flex-wrap: nowrap;
      justify-content: center;
    }
    .posts .block article
    {
    	width: 28%;
    	margin-left: 5%;
    	margin-right: 0;
    }
    .posts .block article:nth-child(1)
    {
    	margin-left: 0;
    }
  }



@media screen and (max-width: 1140px)
{
	main>nav.menu
	{
		flex-wrap: wrap;
	}
	.menu article
	{
		width: 40%;
	}
}

@media screen and (max-width: 970px)
{
	.menu article
	{
		width: 70%;
	}
}

body
{
	margin: 0 auto;
	max-width: 1920px;
	width: 100%;
	font-family: 'Montserrat Light', arial, sans-serif;
	color: white;

}

h2 {font-family: 'Railway Regular', arial, sans-serif;}
h3 {font-family: 'Railway Regular', arial, sans-serif;}

a
{
	font-family: "Montserrat Light", arial, sans-serif;
	text-decoration: none;
	color: white;
}

.radio
{
	left: 50%;
	bottom: 33px;
	margin-left: -50px;
	position: absolute;
}


header 
{
	
}


header .carousel-control-next-icon, header .carousel-control-prev-icon
{
	width: 32px;
	height: 32px;
}



header .bg1
{
	position: relative;
	height: 721px;
	width: 100%;
	background: url(img/bckg/1.png);
}

header .bg2
{
	position: relative;
	height: 721px;
	width: 100%;
	background: url(img/bckg/bck.png);
}

header>* { position: relative;  }

header .bg
{
	
	width: 100%;
	height: 100%;
	background-color: rgba(1,1,1,0.3);
	

}
header nav
{
	width: 100%;
	position: absolute;
	text-align: center;
	z-index: 2;

}
header .logo
{
	display: inline-block;
	margin: 20px 150px 0 0;
	font-size: 34px;
	font-family: 'Railway Regular';
	vertical-align: middle;
}
header nav a
{
	margin-right: 15px;
	font-family: "Montserrat Light", arial, sans-serif;
	text-decoration: none;
	color: white;
	vertical-align: middle;
}
header nav a:hover
{
	color: white;
}

header section
{
	position: absolute;
	margin-left: -250px;
	top: 300px;
	left: 50%;
	text-align: center;
	z-index: 2;
}

header .btn{margin-top: 50px;}
header .btn a
{
	display: inline-block;
	padding: 11px 19px;
	border-radius: 7px;
	background: #998675;

}

header .btn a:hover
{
	color: white;
}

#search, #feedback, #cart
{
	position: absolute;
	background: white;
	border: 1px solid #999;
	display: none;
	left: 50%;
	color: #222;
	z-index: 3;
}

#search
{
	margin: 80px 0 0 220px;
	padding: 5px;
}

#cart
{
	margin: 140px 0 0 -80px;
	padding: 10px;
	width: 500px;
}
#cart table 
{
	width: 100%;
}

#cart a
{
	color: #46a;
}



.fnt-RailwayRegular {font-family: "Railway Regular", arial, sans-serif;	}
.fnt-RailwayMedium{font-family: "Railway Medium", arial, sans-serif;}
.fnt-RailwayExtrabold {font-family: "Railway Extrabold", arial, sans-serif;	}
.fnt-RailwaySemibold{font-family: "Railway Semibold", arial, sans-serif;}
.fnt-RailwayBold{font-family: "Railway Bold", arial, sans-serif;}
.fnt-MontserratLight{font-family: "Montserrat Light", arial, sans-serif;}
.fnt-MontserratExtrlight{font-family: "Montserrat ExtrLight", arial, sans-serif;}
.fnt-RobotoRegular{font-family: "Roboto Regular", arial, sans-serif;}

.logo
{
	color: white;
	text-decoration: none;
	font-size: 34;
}
.logo span
{
	color: white;
	display: inline-block;
	width: 64px;
	height: 56px;
	background: url('img/waxomLogo.png');
}

header .cart
{
	display: inline-block;
	width: 18px;
	height: 24px;
	background: url('img/icon-cart.png');
	margin:0 10px 0 35px;
	cursor: pointer;
	vertical-align: middle;
}

header .search
{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('img/icon-search.png');
	cursor: pointer;
	vertical-align: middle;
}


main>* {
	
	
	max-width: 1980px;
}




main>nav.menu 
{
	display: flex;
	padding: 0 150px 70px 150px;
	justify-content: center;
	
}

.menu h3
{
	margin: 30px 0 30px 0;
	color: #555;
}
.menu section
{
	color: #8c8c8c;	
	margin-bottom: 30px;
	min-height: 97px;
	margin-right: 9px;
}

.menu article
{
	margin-top: 80px;
	text-align: center;
	cursor: pointer;
}

.menu article>div
{
	margin-left: 35%;
	width: 30%;
	height: 2px;
	background-color: #f1eee9;
}

.menu .active>div
{
	background-color: #c7b299;
}

.menu .active h3
{
	color: #c7b299;
}


nav.menu article:nth-child(1) span
{
	display: inline-block;
	width: 47px;
	height: 47px;
	background: url(img/icons/pen.gif);
}

nav.menu article:nth-child(2) span
{
	display: inline-block;
	width: 43px;
	height: 40px;
	margin-bottom: 7px;
	background: url(img/icons/som.gif);
}

nav.menu article:nth-child(3) span
{
	display: inline-block;
	width: 44px;
	height: 44px;
	margin-bottom: 3px;
	background: url(img/icons/z.gif);
}

nav.menu article:nth-child(4) span
{
	display: inline-block;
	width: 52px;
	height: 36px;
	margin-bottom: 11px;
	background: url(img/icons/purse.gif);
}



.unit1
{
	min-height: 115px;
	padding-top: 25px;
	background: linear-gradient(90deg, #241d1a, #4e3427);
}

.unit1 h4 {margin-bottom: 5px;}

.unit1>.block
{
	width: 1150px;
	margin: 0 auto;
}
/* c7b299 gjold 615855 brown*/

.unit1 .btn
{
	float: right;
	padding: 5px 10px;
	background-color: #998675;
	border-bottom: 2px solid #736357;
	border-radius: 3px;
	font-weight: bold;
}

.unit2
{
	padding: 30px 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 120px;
	background: linear-gradient(90deg, #241d1a, #4e3427);
}

.unit2 section>div:nth-child(1) {margin-left: 24px;

}

.unit2 section {margin-right: 62px; text-align: center;}

.unit2 section:nth-child(1)>div:nth-child(1)
{
	
	width: 44px;
	height: 44px;
	background: url(img/icons/satis.png);
}

.unit2 section:nth-child(2)>div:nth-child(1)
{
	width: 48px;
	height: 44px;
	background: url(img/icons/cups.png);

}

.unit2 section:nth-child(3)>div:nth-child(1)
{
	width: 44px;
	height: 44px;
	background: url(img/icons/blog.png);

}

.unit2 section:nth-child(4)>div:nth-child(1)
{
	width: 44px;
	height: 44px;
	background: url(img/icons/likes.png);
}

.unit2 section:nth-child(5)>div:nth-child(1)
{
	width: 54px;
	height: 44px;
	background: url(img/icons/launched.png);
}

.unit2 section>div:nth-child(3)
{
	color: #c7b299;
	font-size: 12px;
}

.unit2 section>div:nth-child(2)
{
	font-size: 22px;
	margin: 12px 0 5px 0;
}

.unit2 section>div:nth-child(4)
{
	height: 2px;
	background-color: white;
	width: 40px;
	margin-top: 16px;
	margin-left: 31px;


}


.ideas
{
	position: relative;
	text-align: center;
	background: #fbfaf8;
	padding-top: 80px;
}


.ideas h2, .ideas h4
{
	margin: 0 auto;
	width: 850px;

}
.ideas h2
{
	color: #555;
	margin-bottom: 30px;
}

.ideas h4
{
	color: #8c8c8c;
	margin-bottom: 40px;
	font-size: 14px;
	line-height: 24px;
}

.bckg, .bckg2
{
	min-height: 482px;
	position: relative;
}
.ideas .bckg>div:nth-child(1)
{
	position: absolute; 
	background: url(img/bckg/browser-left.png);
	width: 770px;
	height: 400px;
	margin-left: -610px;
	left: 50%;
	top: 82px;
}
.ideas .bckg>div:nth-child(2)
{
	position: absolute;
	background: url(img/bckg/browser-right.png);
	width: 770px;
	height: 400px;
	margin-left: -185px;
	left: 50%;
	top: 82px;
}
.ideas .bckg>div:nth-child(3)
{
	position: absolute;
	width: 770px;
	height: 482px;
	background: url(img/bckg/browser-center.png);
	margin-left: -385px;
	left: 50%;
}

.ideas .bckg2>div:nth-child(2)
{
	position: absolute; 
	background: url(img/bckg/browser-left.png);
	width: 770px;
	height: 400px;
	margin-left: -610px;
	left: 50%;
	top: 82px;
}
.ideas .bckg2>div:nth-child(3)
{
	position: absolute;
	background: url(img/bckg/browser-right.png);
	width: 770px;
	height: 400px;
	margin-left: -185px;
	left: 50%;
	top: 82px;
}
.ideas .bckg2>div:nth-child(1)
{
	position: absolute;
	width: 770px;
	height: 482px;
	background: url(img/bckg/browser-center.png);
	margin-left: -385px;
	left: 50%;
}

.projects .block
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1148px;
	margin: 0 auto;
}


.projects article
{
	position: relative;
	min-height: 100px;
	width: 374px;
	text-align: middle;
	margin: 0 7px 20px 0;
}

.projects section
{
	position: relative;
	padding:0 5px 5px 5px;
	background-color: #fbfaf8;
}

.projects article img {height: 240px;}

.projects article .tri
{
	position: absolute;
	top: -10px;
	left: 9px;
	width: 30px;
	height: 10px;
	background: url(img/tri.png);
}

.projects .active .tri
{

	background: url(img/tri2.png);
}

.projects .active .bg
{
	position: absolute;
	width: 100%;
	height: 240px;
	background-color: rgba(1,1,1,0.7);
}
.projects .active section
{
	background-color: #362f2d ;
}


.projects section
{
	position: relative;
	color: #d1d1d1;
	margin-top: -4px;
	padding: 14px 10px 13px 10px;
	font-size: 14px;
}

.projects section h3
{
	color: #c7b299;
	margin: 0 3px 3px 0; 
}

.projects .active section h3
{
	color: white;
}

.projects .active section
{
	color: #c7b299;
}

.projects h2
{
	text-align: center;
	color: #555;
}


.projects h4,.projects .menu li
{
	text-align: center;
	color: #8c8c8c;
}

.projects .menu li
{
	display: inline-block;
	padding: 13px 25px;
}

.projects .menu
{
	display: flex;
	justify-content: center;
	list-style-type: none;
}
.projects .menu li
{
	margin: 2px 10px;
	max-width: 200px;
	cursor: pointer;
}

.projects .menu li:hover /*.active -off*/
{
	color: white;
	background-color: #998675;
	border-radius: 4px;
}

.presentation
{
	position: relative;
	max-width: 1713px;
	margin: 0 auto;
	height: 721px;
	padding: 0;
	background: url(img/bckg/bck.png);
	text-align: center;
}
.presentation>.bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(1,1,1,0.3);
}

.presentation .btn
{
	top: 300px;
	margin-left: -50px;
	right: 50%;
	position: absolute;
	width: 100px;
	height: 100px;
	background: url(img/play.png);
	cursor: pointer;
}

.presentation:hover .btn, .presentation:hover h3, .presentation:hover h5
{
	display: none;
}

.presentation h3
{
	position: absolute;
	text-align: center;
	top: 400px;
	margin-left: -164px;
	left: 50%;
}
.presentation h5
{
	position: absolute;
	top: 439px;
	margin-left: -364px;
	left: 50%;
	width: 632px;
	line-height: 24px;

}

.presentation video
{
	cursor: pointer;
}

.mobileDevice
{
	width: 1708px;
	height: 695px;
	background: url(img/bckg/background.png);
}

.mobileDevice
{
	color: #8c8c8c;
}

.mobileDevice .block
{
	position: relative;
	left: 50%;
	top: 230px;
	margin-left: -100px;
	width: 600px;

}

.posts {font-family: Montserrat Light;}
.posts>h2
{
	color: #555;
	text-align: center;
	font-family: Raiway Medium
}
.posts>h4
{
	color: #8c8c8c;
	text-align: center;
}


.posts article section h2 {color: #555;}

.posts article section
{
	color: #8c8c8c;
	width: 370px;
}

.posts article 
{
	position: relative;
	cursor: pointer;
}
.posts article>div:nth-child(2)
{
	position: absolute;
	color: white;
	background: #363636;
	top: 20px;
	left: 15px;
	padding-top: 2px;
	width: 38px;
	height: 23px;
	text-align: center;
	border-top-right-radius: 4px; 
	border-top-left-radius: 4px;  
}
.posts article>div:nth-child(3)
{
	position: absolute;
	color: white;
	background: #252525;
	top: 45px;
	left: 15px;
	width: 38px;
	height: 23px;
	text-align: center;
	border-bottom-right-radius:  4px; 
	border-bottom-left-radius:  4px; 
}

.posts article .window
{
	display: none;
	position: absolute;
	background: white;
	color: #333;
	top: -20px;
	left: 15px;
	padding: 10px;
	border: 1px solid #aaa;
}

.posts article.active .window
{
	display: block;
}

.posts>.btn
{
	position: absolute;
	width: 55px;
	height: 22px;
}
.posts>.btn>div:nth-child(1)
{
	cursor: pointer;
	float: left;
	width: 22px;
	height: 22px;
	background: url(img/left.png);
}
.posts>.btn>div:nth-child(2)
{
	cursor: pointer;
	float: left;
	width: 22px;
	height: 22px;
	background: url(img/right.png);
}
.adv
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	max-width: 1770px;
	min-width: 730px;
	height: 489px;
	background: url(img/bckg/bg2.png);
}

.adv span
{
	display: inline-block;

	
}
.adv a
{
	margin: 0 70px;
}

.adv a:nth-child(1) span
{
	width: 210px;
	height: 127px;
	background: url(img/logo1.png);
}
.adv a:nth-child(2) span
{
	width: 210px;
	height: 210px;
	background: url(img/logo2.png);
}
.adv a:nth-child(3) span
{
	width: 210px;
	height: 130px;
	background: url(img/logo3.png);
}
.adv a:nth-child(4) span
{
	width: 210px;
	height: 164px;
	background: url(img/logo4.png);
}

.unit3
{
	display: flex;
	flex-wrap: wrap;
	background: #191919;
	font-family: montserrat light;
	justify-content: center;
	max-width: 1770px;
	margin: 0 auto;
}

.unit3 section
{
	margin: 12px;
	width: 23%;
}

.unit3 section h3
{
	font-family: Railway Bold;
	
}
.unit3 section:nth-child(1)>h3>span
{
	display: inline-block;
	width: 64px;
	height: 56px;
	background: url(img/waxomLogo.png);
	vertical-align: middle;

}


.unit3 section>div>span
{
	color: #00bff3;

}
/* c7b299 - gold, 555 
363636-dark
*/
footer
{
	padding: 50px 200px;
	background: #111111;
	text-align: center;
	color: #555;
	font-family: montserrat light;
	max-width: 1770px;
	margin: 0 auto;
}



footer .gold
{
	color: #c7b299;
}

/*998675   959595waxom  c7b299brown*/


@media screen and (max-width: 1230px)
{
	.unit3 section
	{
		width: 38%;
		margin-right: 5%;
	}
}